@mixin marginreset{
    margin: 0px;
}

@mixin pointer{
    cursor: pointer;
}

.styled-input{
    display: block;

    input{
        display: none;
    }
    label{
        @include pointer;
        font-weight: 100;
    }

    label:before{
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        // height: 10px; width: 10px;
        margin-right: 5px;
    }
}

.styled-input--radio{
    @extend .styled-input;
    label:before{
        content: '\f10c';
    }

    input:checked + label{
        &:before{
            content: '\f192';
        }
    }
}


.styled-input--checkbox{
    @extend .styled-input;
    label:before{
        content: '\f096';
    }

    input:checked + label{
        &:before{
            content: '\f046';
        }
    }
}




@for $i from 1 through 8 {
    $fontsize: 0.25rem * $i;
    .header-#{$i} { 
        @include marginreset;
        font-weight: 100;
        font-size: $fontsize;
    }
}



$color-separator: #ddd;
.b-r{
    border-right: 1px solid $color-separator;
}
.b-l{
    border-left: 1px solid $color-separator;
}
.b-b{
    border-bottom: 1px solid $color-separator;
}

$directions: top bottom left right;
@each $direction in $directions{
    @for $i from 1 through 5{
        .m-#{$direction}#{$i*2}{
            margin-#{$direction}: 2px * $i;
        }
    } 
    
}

.dialog1{
    form{
        margin-bottom: -1px;//hack
        padding-bottom: 15px;
    }

    @media(max-width: 768px){
        .b-r{
            border-right: 0px;
        }
    }
}
.dialog1_slide{
    margin-top: 15px;
}


.nav-steps{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid $color-separator;

    &_step{
        @include pointer;
        padding: 15px 0px;

        transition: background linear 0.3s 0s,
                    color linear 0.3s 0s;
        background: transparent;
        color: black;


        &--active, &:hover{
            background: rgba(175, 175, 251, 0.7);
            color: white;
        }
    }
}

.num-pasta-input{
    width: 55px;
    height: 25px;
}

.columned-line-form{
    display: table;
    margin-left: 15px;
    margin-right: 15px;
    &_label{
        width: 70%;
    }
    &_input{
        width: 30%;
    }
    &_label, &_input{
        display: table-cell;
        vertical-align: middle;
        height: 40px;
    }
}

.dialog3_container{
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
}

.loader{
    height: 150px;
    width: 100%;

    opacity: 0.85;

    position: absolute;
    bottom: 0px;
    background: #f6c046;

    z-index: 1041; /*bootstrap*/

    font-family: 'Barrio', cursive;
    &_image{
        float:left;
    }
    &_text{
        float: left;
        font-size: 50px;
        color: white;
        line-height: 150px;
        margin-left: 100px;


        @media(max-width: 768px){
            font-size: 35px;
            margin-left: 0px;
        }
    }
}
