.styled-input, .styled-input--radio, .styled-input--checkbox {
  display: block; }
  .styled-input input, .styled-input--radio input, .styled-input--checkbox input {
    display: none; }
  .styled-input label, .styled-input--radio label, .styled-input--checkbox label {
    cursor: pointer;
    font-weight: 100; }
  .styled-input label:before, .styled-input--radio label:before, .styled-input--checkbox label:before {
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    margin-right: 5px; }

.styled-input--radio label:before {
  content: '\f10c'; }

.styled-input--radio input:checked + label:before {
  content: '\f192'; }

.styled-input--checkbox label:before {
  content: '\f096'; }

.styled-input--checkbox input:checked + label:before {
  content: '\f046'; }

.header-1 {
  margin: 0px;
  font-weight: 100;
  font-size: 0.25rem; }

.header-2 {
  margin: 0px;
  font-weight: 100;
  font-size: 0.5rem; }

.header-3 {
  margin: 0px;
  font-weight: 100;
  font-size: 0.75rem; }

.header-4 {
  margin: 0px;
  font-weight: 100;
  font-size: 1rem; }

.header-5 {
  margin: 0px;
  font-weight: 100;
  font-size: 1.25rem; }

.header-6 {
  margin: 0px;
  font-weight: 100;
  font-size: 1.5rem; }

.header-7 {
  margin: 0px;
  font-weight: 100;
  font-size: 1.75rem; }

.header-8 {
  margin: 0px;
  font-weight: 100;
  font-size: 2rem; }

.b-r {
  border-right: 1px solid #ddd; }

.b-l {
  border-left: 1px solid #ddd; }

.b-b {
  border-bottom: 1px solid #ddd; }

.m-top2 {
  margin-top: 2px; }

.m-top4 {
  margin-top: 4px; }

.m-top6 {
  margin-top: 6px; }

.m-top8 {
  margin-top: 8px; }

.m-top10 {
  margin-top: 10px; }

.m-bottom2 {
  margin-bottom: 2px; }

.m-bottom4 {
  margin-bottom: 4px; }

.m-bottom6 {
  margin-bottom: 6px; }

.m-bottom8 {
  margin-bottom: 8px; }

.m-bottom10 {
  margin-bottom: 10px; }

.m-left2 {
  margin-left: 2px; }

.m-left4 {
  margin-left: 4px; }

.m-left6 {
  margin-left: 6px; }

.m-left8 {
  margin-left: 8px; }

.m-left10 {
  margin-left: 10px; }

.m-right2 {
  margin-right: 2px; }

.m-right4 {
  margin-right: 4px; }

.m-right6 {
  margin-right: 6px; }

.m-right8 {
  margin-right: 8px; }

.m-right10 {
  margin-right: 10px; }

.dialog1 form {
  margin-bottom: -1px;
  padding-bottom: 15px; }

@media (max-width: 768px) {
  .dialog1 .b-r {
    border-right: 0px; } }

.dialog1_slide {
  margin-top: 15px; }

.nav-steps {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd; }
  .nav-steps_step {
    cursor: pointer;
    padding: 15px 0px;
    transition: background linear 0.3s 0s, color linear 0.3s 0s;
    background: transparent;
    color: black; }
    .nav-steps_step--active, .nav-steps_step:hover {
      background: rgba(175, 175, 251, 0.7);
      color: white; }

.num-pasta-input {
  width: 55px;
  height: 25px; }

.columned-line-form {
  display: table;
  margin-left: 15px;
  margin-right: 15px; }
  .columned-line-form_label {
    width: 70%; }
  .columned-line-form_input {
    width: 30%; }
  .columned-line-form_label, .columned-line-form_input {
    display: table-cell;
    vertical-align: middle;
    height: 40px; }

.dialog3_container {
  padding-left: 15px;
  padding-bottom: 15px;
  border-radius: 4px; }

.loader {
  height: 150px;
  width: 100%;
  opacity: 0.85;
  position: absolute;
  bottom: 0px;
  background: #f6c046;
  z-index: 1041;
  /*bootstrap*/
  font-family: 'Barrio', cursive; }
  .loader_image {
    float: left; }
  .loader_text {
    float: left;
    font-size: 50px;
    color: white;
    line-height: 150px;
    margin-left: 100px; }
    @media (max-width: 768px) {
      .loader_text {
        font-size: 35px;
        margin-left: 0px; } }
